$mq_phone: 599px;
$mq_tablet-portrait: 899px;
$mq_tablet-landscape: 1199px;

@mixin for-phone-only {
  @media only screen and (max-width: 599px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: #{$mq_phone + 1}) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: #{$mq_tablet-portrait + 1}) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: #{$mq_tablet-landscape + 1}) { @content; }
}

/* Usage
@import 'mixins/mq';
@include for-desktop-up {
  // your desktop styles
}
*/
