@import 'include-media';
@import "ember-basic-dropdown";

@import "nypr-ui/vars";
@import "nypr-ui/brand-header";
@import "nypr-ui/colors"; // any color like "$light-gray"
@import "nypr-ui/buttons";
@import "nypr-audio-services/text-crawl";
@import "nypr-player";

@import 'vars/colors';
@import 'vars/fonts';
@import 'vars/tools.sg-updates';

@import "node_modules/nypr-pattern-lab/source/scss/themes/default/default.scss";

@import 'normalize';
//@import 'base';

@import 'components/jukebox-player';
@import 'nypr-player';

@import 'components/horizontal-nav';
@import "components/sliding-bar";
@import "components/listen";
@import 'components/footer';
@import "components/track-info";
@import "routes/playlist-history";

body.ember-application{
  font-family: $font-body;
  font-weight: normal;
  line-height: 1.0;
  background-color: $water-blue;
}

button {
  @include btn;
}