@import "include-media";

@import "vars/colors";
@import "vars/fonts";
@import "vars/animations";
@import "vars/tools.sg-updates";

@import "node_modules/nypr-pattern-lab/source/scss/themes/default/default.scss";

@import "normalize";
@import "components/horizontal-nav";
@import "components/onboard-message";
@import "components/sliding-bar";
@import "components/footer";
@import "components/track-info";
@import "components/toggle-box";
@import "components/jukebox-player";
@import "components/brands-linkroll";
@import 'components/play-button';
@import 'components/newsletter';

@import "nypr-player";

@import "routes/listen";
@import "routes/playlist-history";

.ember-application {
  font-family: $font-body;
  font-weight: normal;
  line-height: 1.0;

  background: $water-blue url(/images/backgrounds/background-desktop.png) no-repeat scroll left top;
  background-size: 100% 700px;

  @include media("retina2x") {
    background: $water-blue url(/images/backgrounds/background-desktop@2x.png) no-repeat scroll left top;
    background-size: 100% 700px;
  }
  @include media("retina3x") {
    background: $water-blue url(/images/backgrounds/background-desktop@3x.png) no-repeat scroll left top;
    background-size: 100% 700px;
  }

  @include media("<medium") {
    background: $water-blue url(/images/backgrounds/background-mobile.png) no-repeat scroll left -60px;
    background-size: 100% auto;

    @include media("retina2x") {
      background: $water-blue url(/images/backgrounds/background-mobile@2x.png) no-repeat scroll left -60px;
      background-size: 100% auto;
    }
    @include media("retina3x") {
      background: $water-blue url(/images/backgrounds/background-mobile@3x.png) no-repeat scroll left -60px;
      background-size: 100% auto;
    }
  }
}

button {
  appearance: none;
  position: relative; // for transition icons
  display: inline-block;
  border-radius: 25px;
  border: 2px solid;
  border-color: rgba($c-gray--light, 0.2);

  padding: 0px 13px;
  color: $c-gray--light;
  background: transparent;
  font-size: 14px;
  line-height: 34px;

  cursor: pointer;

  transition:
    opacity $transition-timing,
    background-color $transition-timing,
    border-color $transition-timing,
    color $transition-timing;

  &:hover,
  &:active {
    border-color: rgba($c-gray--dark, 0.2);
    color: $c-gray;
    opacity: 1;
  }

  &[disabled] {
    opacity: 0.15;
    cursor: not-allowed;
  }

  .touchevents &:hover {
    border-color: initial;
    color: initial;
  }

  > * {
    pointer-events: none;
  }
}
