# See https://help.github.com/ignore-files/ for more about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store

# ignore emacs and vim tmp files
.*.*.sw*
\#*\#
*~

# Temp Directory
.tmp/*
!.tmp/.gitkeep

# Django
static/
media/
logs/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.idea*
/.pnp*
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log

# ember-try
.node_modules.ember-try/
bower.json.ember-try
package.json.ember-try

*.zip

# keep production keys out of repo
.env
.env.*
.env.deploy.*
!.env.sample
!.env.deploy.sample

# yalc
.yalc/
yalc.lock
