$font-heading: "Playfair Display"; //todo: add a named font
$font-body: "OpenSans", sans-serif; //todo: add a named font

$font-cool-heading: 'Monoton', cursive;
$font-pixel-heading: 'Press Start 2P', monospace;
$font-pixel-body: 'OpenSans', monospace;
