$font-heading: sans-serif; //todo: add a named font
$font-body: sans-serif; //todo: add a named font

$font-cool-heading: 'Monoton', cursive;
$font-pixel-heading: 'Press Start 2P', cursive;
$font-pixel-body: 'VT323', monospace;
