/* any shared spacing, margin,
   width, etc. numbers go here */

// $layout-max-width: 900px;


// MEDIA QUERIES
// HORIZONTAL

// Example usage:
//   body {
//     @media #{$small-only} {
//       background-color: red;
//     }
//   }

$screen: "only screen";
$large: 768; 

$small-only:    "#{$screen} and (max-width: #{$large - 1}px)";
$large-only: "#{$screen} and (min-width: #{$large}px)";