$mq_small: 476px;
$mq_tablet: 600px;
$mq_medium: 801px;
$mq_large: 1025px;

$mq_screen: "only screen";
$mq_tablet-and-up: "#{$mq_screen} and (min-width:#{$mq_tablet})";
$mq_medium-and-up: "#{$mq_screen} and (min-width:#{$mq_medium})";
$mq_large-and-up:  "#{$mq_screen} and (min-width:#{$mq_large})";
$mq_small-only:    "#{$mq_screen} and (max-width: #{$mq_medium - 1})";
$mq_medium-only:   "#{$mq_screen} and (min-width: #{$mq_medium}) and (max-width: #{$mq_large - 1})";
$mq_xsmall-only:   "#{$mq_screen} and (max-width: #{$mq_small - 1})";


/* Usage

@import 'vars/mq';

@media #{$mq_medium-and-up} {
  // your desktop styles
}

*/
