{{#each schedule.airings as |airing index|}}
  {{#if (airing-is-not-in-future airing.startTimestamp)}}
    <div class="playlist">
      {{play-schedule/show
        image     = (image-template airing.show.image.template 500 500 "l" 80)
        title     = airing.showTitle
        startTime = airing.startTimestamp
        endTime   = airing.endTimestamp
        episode   = airing.episode
        tracks    = airing.playlist
        isPlaylistVisible = (if (eq index 0) true false)
      }}
    </div>
  {{/if}}
{{/each}}
