$white: $white;

$nypr-player-primary-color                   : $white;
$nypr-player-background-color                : darken($denim-blue, 2%);
$nypr-player-accent-color                    : $white;

$nypr-player-button-color                    : $white;
$nypr-player-button-hover-color              : rgba($white, 0.8);
$nypr-player-button-active-color             : $white;
$nypr-player-slider-handle-color             : $white;

$nypr-player-info-text-color                 : $white;
$nypr-player-link-underline-color            : $white;
$nypr-player-timelabel-color                 : $white;
$nypr-player-timelabel-total-color           : rgba($white, 0.6);

$nypr-player-backdrop-color                  : rgba($white, 0.75);
$nypr-player-progress-played-color           : $white;
$nypr-player-progress-downloaded-color       : darken($denim-blue, 20%);


.nypr-player.jukebox-player {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 100%;
  padding-bottom: 15px;
  position: fixed;
  bottom: -15px;
  z-index: 1200;
  box-sizing: border-box;

  @include media('<medium') {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 15px!important;
  }

  background-color: $nypr-player-background-color!important;
}

.nypr-player-button.mod-listen {
  margin-left: 0!important;
}

.jukebox-player-show {
  text-transform: uppercase;
  min-width: 30%;
  text-align: right;
  flex-direction: row;
  display: flex;
  justify-content: flex-end;

  @include media("<medium"){
    text-align: left;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -48px;
    width: calc(100% - 90px);
    white-space: nowrap;
    flex-basis: 33%;
  }
}

.jukebox-player-show-title {
  font-weight: normal;
  font-family: $font-body-bold;
  font-size: 10px;
  letter-spacing: 1px;
  max-width: 250px;
}

.jukebox-player-listen-button {
  text-align: center;
  width: 55px;
  margin: 0 20px;

  @include media("<medium") {
    align-self: flex-end;
    order: -1;
    margin: 6px 0 0 0;
  }
}

.jukebox-player-track {
  line-height: 1.22;
  text-align: left;
  min-width: 30%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include media("<medium"){
    position: relative;
    top: -48px;
    width: calc(100% - 90px);
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    flex-basis: 56%;
  }
}

.jukebox-player-track-title {
  font-family: $font-body;
  line-height: 1.22;
  font-size: 12px;
  font-weight: normal;
}

.jukebox-player-track-composer {
  font-family: $font-heading;
  font-weight: bold;
  font-size: 18px;
}

// text-crawl overflow styles
.text-crawl {
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
  max-width: calc(100% - 5px);
  overflow: hidden;

  @include media(">=medium") {
    max-width: calc(100% - 69px);
  }

  a {
    color: white;
    font-size: 16px;
    text-transform: none;
  }

  .text-crawl-scroll {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &.is-scrolling .text-crawl-scroll {
    position: relative;
    text-overflow: clip;
    overflow: visible;
  }
}
