@import '../vars/colors';

.listen {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .playlist-history {
    width: 504px;
  }
  @include media("<medium") {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;

    .playlist-history {
      width: 100%;
    }
  }
}

.listen-play-button {
  display: flex;
  justify-content: center;

  .listen-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-color: #ffffff;
    border-width: 2px;
    @include media("<medium") {
      width: 65px;
      height: 65px;
      border-radius: 32.5px;
    }
  }

  .icon {
    max-width: 100px;
    max-height: 100px;
    display: inline;
  }

  .is-playing {
    .icon--play {
      display: none;
    }

    .icon--pause {
      display: inline;
    }
  }

  .icon--play {
    display: inline;
  }
  .icon--pause {
    display: none;
  }

  .listen-button.is-playing .listen-ui {
    width: auto;
  }

  svg {
    fill: #ffffff;
  }

  .listen-ui {
    height: 23px;
    width: 35px;
  }
}

.on-air-now {
  padding: 24px;
  width: 369px;
  @include media("<medium") {
    width: 100%;
  }
  @include media("<medium") {
    padding-left: 0;
    padding-right: 0;
  }

  .on-air-now-upper {
    @include media("<medium") {
      display: flex;
      flex-direction: row;
      margin-bottom: 24px;
    }

    > .show-image {
      height: 100px;
      width: 100px;
      border-radius: 4px;
      margin-left: 0;
      margin-right: 16px;
      display: block;
      margin-bottom: 0;
      @include media(">=medium") {
        display: none;
      }
    }
  }

  .on-air-now-label {
    height: 16px;
    width: 84px;
    background-color: #ffffff;
    border-radius: 4px;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    color: #0064b4;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    @include media("<medium") {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .on-air-now-inner {
    .show-image {
      height: 176px;
      width: 176px;
      border-radius: 4px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 12px;
      @include media("<medium") {
        display: none;
      }
    }
  }

  .show-title {
    font-family: OpenSans;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
    margin-bottom: 8px;
    @include media("<medium") {
      font-size: 17px;
      line-height: 1.29;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .message-the-show {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    @include media("<medium") {
      justify-content: left;
      margin-bottom: 0;
    }
  }

  .message-the-show-toggle-box {
    > button:focus {
      outline: none;
    }

    > button {
      border: none;
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .u-icon--xs {
      height: 12px;
      fill: #ffffff;
    }
  }

  .message-the-show-title {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
  }
}

.song-metadata {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  padding-top: 16px;

  .metadata {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .composer {
    display: flex;
    font-family: PlayfairDisplay;
    font-size: 22px;
    font-weight: 900;
    justify-content: flex-start;
    flex: 1;
  }

  .start-time {
    display: flex;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.2px;
    justify-content: flex-end;
    margin-left: 32px;
    margin-top: 4px;
  }

  .title_expand {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .title {
    font-family: OpenSans;
    font-size: 14px;
    margin-right: 5px;
    text-align: left;
    line-height: 16px;
    text-transform: none;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 16px;
    margin-top: 8px;
  }

  .ember-basic-dropdown-content {
    background-color: pink;
  }

  .secondary-metadata-toggle-box {
    .c-toggle-box__dropdown {
      top: 0;
      background-color: transparent;
    }

    .c-toggle-box__label:before {
      bottom: -22px;
      background-color: #000000;
    }

    .ember-basic-dropdown-content {
      margin-top: 12px;
      right: -20px;
    }

    > button:focus {
      outline: none;
    }

    > button {
      border: none;
      border-radius: 0;
      padding-left: 0;
      padding-right: 0;
      line-height: normal;

      .o-text-with-icon {
        text-align: left;
      }
    }

    .o-text-with-icon .o-icon--caret {
      margin-left: 8px;
      padding-top: 4px;
      min-width: 16px;
    }

    .secondary-metadata-content {
      background-color: black;
      color: white;
      border-radius: 4px;
      padding: 24px;
      font-family: OpenSans;
      font-size: 12px;
      line-height: 1.5;
      width: 263px;

      div:last-child {
        margin-bottom: 0;
      }

      .secondary-metadata-content-field {
        margin-bottom: 12px;

        .secondary-metadata-content-label {
          font-family: OpenSans;
          font-size: 12px;
          line-height: 1.5;
        }

        .secondary-metadata-content-title {
          font-family: OpenSans;
          font-size: 12px;
          line-height: 1.5;
        }
      }
    }
  }
}

.currently-listening-to {
  padding: 24px 24px 0;
  @include media("<medium") {
    width: 100%;
  }

  .currently-listening-to-label {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 8px;
  }

  .currently-playing-song {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 2px calc(100% - 30px);
    background-position: 3px bottom;
    padding-bottom: 32px;

    .composer {
      color: #ffffff;
      font-size: 38px;
      font-weight: 900px;
      line-height: 0.95;
      @include media("<medium") {
        font-size: 28px;
        line-height: 1.18;
      }
    }

    .title_expand {
      margin-top: 16px;
    }

    .start-time {
      color: #ffffff;
    }

    .title {
      color: #ffffff;
      font-size: 18px;
      line-height: normal;
      font-weight: bold;
      @include media("<medium") {
        font-size: 14px;
        line-height: 1.71;
      }
    }

    .dot {
      background-color: #ffffff;
      margin-left: -4px;
      margin-right: 20px;
      margin-top: 14px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }
  }

  .title_expand {
    .u-icon--xs {
      fill: #ffffff;
    }
  }
}

.recently-played {
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  @include media("<medium") {
    width: 100%;
  }

  .recently-played-label {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $water-blue;
    margin-bottom: 8px;
  }

  div:first-child {
    background-size: 2px calc(100% - 24px);
    background-position: 3px bottom;
  }

  div:last-child {
    background-size: 2px 24px;
    background-position: 3px top;
  }

  .recently-played-song {
    background-image: linear-gradient($water-blue, $water-blue);
    background-size: 2px 100%;
    background-position: 3px center;

    .composer {
      color: $denim-blue;
      @include media("<medium") {
        font-size: 14px;
        line-height: normal;
      }
    }

    .start-time {
      opacity: 0.5;
      color: #000000;
    }

    .title {
      color: #000000;
      @include media("<medium") {
        font-size: 12px;
        line-height: normal;
      }
    }

    .dot {
      background-color: $water-blue;
    }

    .title_expand {
      .u-icon--xs path {
        fill: #000000;
      }
    }
  }

  .view-full-playlist-history-button {
    line-height: 31px;
    width: 219px;
    height: 31px;
    border-radius: 15.5px;
    background-color: $denim-blue;
    font-family: OpenSans;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 16px auto auto;
  }
}
