@import "../vars/fonts";

.success-message { 
  display: none; 
}

.c-newsletter-form__concrete.is-success {
  .c-newsletter-form__field-group, .c-newsletter-form__terms {
    display: none;
    .success-message {
      display: block;
    }
  }
}