@import "../vars/fonts";
@import "../vars/tools.sg-updates";

body {
  color: white;
}

input[type=email] {
  border-radius: 35px;
  font-size: 14px;
  text-align: center;
  font-family: $font-body;
}

input[name="newsletter"] {
  height: 30px;
  width: 255px;
  font-family: $font-body;
}

form .o-button, .success-feedback-button {
  font-family: $font-body;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border-color: white;
  border-radius: 35px;
  border: 2px solid;
  height: 30px;
  width: 140px;
  line-height: 1; 
  background: none;
  text-align: center;

}

.success-feedback-button {
  padding-top: 7px;
}

a.feedback-link {
  height: 30px;
}

form .o-button:hover, .success-feedback-button:hover {
  background-color: white;
  border-color: white;
  color: $denim-blue;
}

.newsletter-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 100px 200px 5px 200px;
}

.c-newsletter-form__field-group {
  border: none;
  padding-top: 18px;
  justify-content: space-between;
}

.mailing-list-text-container {
  min-width: 255px;
}

.mailing-list-title, .success-message {
  font-family: $font-heading;
  font-size: $font-size-l;
}

.mailing-list-subtitle, .success-subtitle {
  font-size: $font-size-s;
}

.c-newsletter-form__terms { 
  padding-top: 10px;
  .o-checkbox {
    top: 12px;
  }
}

.terms-of-use {
  display: inline;
  text-decoration: underline;
  a {
    color:white;
  }
}

.success-feedback-button {
  font-family: $font-body;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border-color: white;
  height: 30px;
  width: 140px;
  line-height: 1; 
  background: none;
}

.c-newsletter-form__button {
  background: none;
  height: 0px;
  width: 100%;
}

.newsletter-form {
  padding-left: 50px;
  .newsletter-form-success { 
    display: none; 
  }
}

.newsletter-form.is-success {
  .newsletter-form-success { 
    display: flex; 
  }

  .success-message {
    width: 100%;
  }

  .success-feedback-button {
    width: 220px;
  }

  .success-subtitle {
    padding: 0px 20px 0px 20px;
  }

   + .mailing-list-text-container {
    display: none;
  }

  .c-newsletter-form__terms {
    display: none;
  }

  .c-newsletter-form__field-group > {
    label, input, button { 
      display: none; 
    }
  }
}

///TABLET & MOBILE///
@include media("<=xlarge") {
  .newsletter-container {
    padding: 0px;
  }

  .c-newsletter-form__button, .mailing-list-text-container, input[name="newsletter"] {
    width: 100%;
  } 

  .newsletter-form {
    padding-left: 50px;
  }

  .c-newsletter-form__button {
    background: none;
    height: 50px;
  }

  .newsletter-container {
    flex-direction: column-reverse;
  }

  .mailing-list-text-container {
    position: relative;
    text-align: center;
  }

  .c-newsletter-form__field-group {
    flex-direction: column;
  }

  form .o-button {
    width: 100%;
  }

  .newsletter-form.is-success .newsletter-form-success {
    flex-direction: column;
  }

  .newsletter-form.is-success .success-subtitle {
    padding: 0px 50px 15px 0px;
  }
}