@import "../vars/fonts";


.newsletter-form {
  .newsletter-form-success { 
    display: none; 
  }
}

.newsletter-form.is-success {
  .newsletter-form-success { 
    display: block; 
  }

  .c-newsletter-form__terms {
    display: none;
  }
  .c-newsletter-form__field-group > {
    label, input, button { display:none; }
  }
}