@import '../vars/colors';
@import '../vars/fonts';

.song-metadata {
  background-repeat: no-repeat;
  background-image: linear-gradient($water-blue, $water-blue);
  background-size: 2px 100%;
  background-position: 3px center;

  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
  padding-top: 16px;

  .metadata {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .composer {
    color: $denim-blue;
    font-family: $font-heading;
    font-size: 22px;
    font-weight: 900;

    @include media("<medium") {
      font-size: 18px;
      line-height: normal;
    }
  }

  .start-time {
    display: flex;
    font-family: $font-body-bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    justify-content: flex-end;
    margin-left: 32px;
    margin-top: 4px;
    opacity: 0.5;
    color: #000000;
  }

  .title {
    color: #000000;
    font-family: $font-body;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 4px;
    text-align: left;
    line-height: 16px;
    text-transform: none;
  }

  .dot {
    background-color: $water-blue;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-right: 16px;
    margin-top: 8px;
  }

  .secondary-metadata-toggle-box {
    flex: 1;

    .c-toggle-box__dropdown {
      background-color: transparent;
    }

    .c-toggle-box__label {
      text-transform: none;
    }

    .c-toggle-box__label:before {
      bottom: -22px;
      background-color: #000000;
      right: 12px;
      z-index: 1001;
    }

    .ember-basic-dropdown-content {
      margin-top: 12px;
      right: -20px;
    }

    > button:focus {
      outline: none;
    }

    > button {
      border: none;
      border-radius: 0px;
      padding-left: 0px;
      line-height: unset;
      letter-spacing: 0px;

      .o-text-with-icon {
        text-align: left;
      }
    }

    .u-icon--xs path {
      fill: #000000;
    }

    .o-text-with-icon .o-icon--caret {
      margin-left: 8px;
      padding-top: 4px;
      min-width: 16px;
    }
  }
}

.ember-basic-dropdown-content {
  background-color: transparent;
}

.secondary-metadata-content {
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 24px;
  font-family: $font-body;
  font-size: 12px;
  line-height: 1.5;
  width: 263px;
  margin-top: 12px;

  div:last-child {
    margin-bottom: 0px;
  }

  .secondary-metadata-content-field {
    margin-bottom: 12px;
    font-family: $font-body;
    font-size: 12px;
    line-height: 1.5;
  }
}