<ToggleBox @horizontalPosition="center" @contentClass="brands-linkroll" class="brands-linkroll" as |toggle|>
  <toggle.trigger>
    <strong>View All Brands</strong>
  </toggle.trigger>

  <toggle.dropdown>
    <nav class="brands-linkroll-nav" role="navigation" aria-label="NYPR brands navigation">
      <ul class="brands-linkroll-nav-list">
        {{#each this.items as |item|}}
          <li class="brands-linkroll-nav-list-item">
            <a
              href={{item.url}}
              class="brands-linkroll-nav-list-item-link u-has-accent u-has-accent--secondary"
              target="_blank"
              rel="noopener"
            >
              {{item.title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </nav>
  </toggle.dropdown>
</ToggleBox>
