<div class="horizontal-nav__container">
  <nav class="horizontal-nav__nav">
    <ul class="horizontal-nav__list">
      {{#each parsedLinks as |link index|}}
        <li class={{if (eq index activeTabIndex) "is-active horizontal-nav__list-item" "horizontal-nav__list-item"}}>
          {{link-to link.title
                    link.route
                    classNames=(concat "horizontal-nav__link" (if (and clickTracking link.clickTracking) " gtm__click-tracking" ""))
                    data-category=(if (and clickTracking link.clickTracking) dataCategory)
                    data-action=(if (and clickTracking link.clickTracking) link.dataAction)
                    data-label=(if (and clickTracking link.clickTracking) link.title)
          }}
        </li>
      {{/each}}
    </ul>
    {{sliding-bar class="horizontal-nav__indicator" positionX=indicatorX width=indicatorWidth}}
  </nav>
</div>
