<div class="static-main-header">
  <div class="col" id="wqxr-logo" data-test-element="header-logo">{{nypr-svg className="site-header-title-logo" icon="wqxr-log-frq"}}</div>
  <div class="col">
    <p class="live-nyc-txt" data-test-element="header-tagline">LIVE FROM NYC</p>
  </div>
</div>

{{#sticky-element as |state|}}
<div class="horizontal-nav-container {{if state.isSticky 'is-sticky'}}">
  {{horizontal-nav
    navRoot='listen'
    defaultSlug='listen'
    channelSlug='listen'
    links=links
    activeTabIndex=activeTabIndex}}
  <a href="https://www.wqxr.org/support/" target="_blank"
    class="donate-button-link"><button class="donate-button">Donate</button></a>
</div>
{{/sticky-element}}