<div class="static-main-header">
  <div class="col" id="wqxr-logo" data-test-element="header-logo">
    {{nypr-a-svg className="site-header-title-logo" icon="wqxr-log-frq"}}
  </div>
  <div class="col" id="live-nyc-txt-box">
    <p class="live-nyc-txt" data-test-element="header-tagline">LIVE FROM NYC</p>
  </div>
</div>

{{#sticky-element class="site-header" as |state|}}
<div class="horizontal-nav-container {{if state.isSticky 'is-sticky'}}">
  {{horizontal-nav
    navRoot='listen'
    defaultSlug='listen'
    channelSlug='listen'
    links=links
    activeTabIndex=activeTabIndex}}

  <div class="donate-button-link">
    <a href="https://pledge3.wqxr.org/donate/main/onestep/?ref=button-donate-header" target="_blank">
      <button class="donate-button">
        Donate
      </button>
    </a>
  </div>

</div>
{{/sticky-element}}