<div class="flex-grid-thirds">
  <div class="col" id="wqxr-logo">{{nypr-svg className="site-header-title-logo" icon="wqxr-log-frq"}}</div>
  <div class="col">
    <p class="live-nyc-txt">LIVE FROM NYC</p>
  </div>
  <div class="col donate-button"> <a href="https://www.wqxr.org/support/" target="_blank"><button>Donate</button></a>
  </div>
</div>

{{#sticky-element as |state|}}
  {{horizontal-nav
    navRoot='listen'
    defaultSlug='listen'
    channelSlug='listen'
    links=links
    class=(if state.isSticky "is-sticky")
    activeTabIndex=activeTabIndex}}
{{/sticky-element}}