<footer class="c-main-footer">
  <div class="l-container l-wrap u-spacing--triple">
    <div class="c-main-footer__inner">
      <div class="c-main-footer__col1 top-half-header u-spacing--triple">
        <div class="c-main-footer__branding">
          <div class="c-main-footer__logo main-logo">
            {{#link-to 'index'}}
            <NyprASvg @icon='wqxr-logo' />
            {{/link-to}}
          </div>
        </div>

        <div class="c-main-footer__utility">
          <div class="c-main-footer__social">
            <div class="c-main-footer__slogan u-spacing">
              {{yield (hash slogan=(component 'blank-template'))}}
            </div>

            <NyprMShareTools class="about-us-div" @label='About Us' as |share|>
              <div class="about-us-left">
                <a href="https://www.wnyc.org/resources/912769/fcc_eeo_public_file_report.pdf" class="about-us-links inline"
                  target="_blank" rel="noopener">
                  EEO Report
                </a>
                <a href="https://publicfiles.fcc.gov/fm-profile/wqxr-fm" class="about-us-links" target="_blank"
                  rel="noopener">
                  WQXR FCC Public File
                </a>
                <a href="https://www.wnyc.org/privacy" class="about-us-links" target="_blank" rel="noopener">
                  Privacy Policy
                </a>
              </div>
              <div class="about-us-right">
                <a href="https://www.wnyc.org/terms" class="about-us-links" target="_blank" rel="noopener">
                  Terms of Use
                </a>
                <a href="https://wqxr.zendesk.com/hc/en-us " class="about-us-links" target="_blank" rel="noopener">
                  Contact Us
                </a>
                <a href="https://sponsorship.wnyc.org/" class="about-us-links" target="_blank" rel="noopener">
                  Sponsorship
                </a>
              </div>
            </NyprMShareTools>

            <NyprMShareTools class="social-media-links" @label='Connect' as |share|>
              <div class="social-media__container">

                <share.link @service='spotify' @username='3kRXZieRfyb2lCAFtVB76u' />

                <share.link @service='facebook' @username='WQXRClassical' />


                <share.link @service='twitter' @username='WQXR' />


                <share.link @service='instagram' @username='wqxr_classical' />


                <share.link @service='youtube' @username='UCNaGXxDBmCNQGpwm3hxK9sw' />

              </div>

              <a class="feedback-link" href="mailto:beta@wqxr.org">
                <div class="feedback tertiary-hover">SEND US YOUR FEEDBACK</div>
              </a>

            </NyprMShareTools>
          </div>
        </div>
      </div>

      <div class="c-main-footer__col2">
        <div class="c-main-footer__signup">
          {{yield (hash signup=(component 'blank-template'))}}
        </div>
      </div>
    </div>

    <div class="c-main-footer__brand-group">
      <div class="c-main-footer__nypr-logo logo-and-toggle">
        <NyprASvg @icon='nypr-logo' />
      </div>

      <NyprMBrandsLinkroll @exclude='wqxr' @calculatePosition={{this.calculatePosition}} as |toggle| />

      <div class="c-main-footer__copyright">
        <p class="u-font--secondary-style u-font--xs u-color--white term-links">&copy; {{moment-format (now) 'YYYY'}}
          New York
          Public Radio. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>