@import '../vars/colors';
@import '../vars/fonts';

.listen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;

  .playlist-history {
    width: 504px;
    padding-top: 24px;
  }
  @include media("<medium") {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;

    .playlist-history {
      width: 100%;
    }
  }
}

.listen-play-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .play-button {
    width: 60px;
    height: 60px;

    @include media("<medium") {
      width: 65px;
      height: 65px;
    }
  }
}

.on-air-now {
  padding: 24px;
  width: 369px;
  @include media("<medium") {
    width: 100%;
  }
  @include media("<medium") {
    padding-left: 0;
    padding-right: 0;
  }

  .on-air-now-upper {
    @include media("<medium") {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      justify-content: center;
    }
    > .show-image {
      max-height: 100px;
      max-width: 100px;
      border-radius: 50%;
      filter: grayscale(100%);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      display: block;
      @include media(">=medium") {
        display: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
  }

  .on-air-now-label {
    height: 16px;
    width: 84px;
    background-color: #ffffff;
    border-radius: 4px;
    font-family: $font-body-bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: #0064b4;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    @include media("<medium") {
      //margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .on-air-now-inner {
    .show-image {
      max-height: 176px;
      max-width: 176px;
      border-radius: 50%;
      filter: grayscale(100%);
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-bottom: 12px;
      @include media("<medium") {
        display: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
  }

  .show-title {
    font-family: $font-heading;
    font-size: 28px;
    line-height: 1.36;
    text-align: center;
    color: #ffffff;
    margin-bottom: 8px;
    @include media("<medium") {
      font-size: 17px;
      line-height: 1.29;
      text-align: center;
    }
  }

  .message-the-show {
    display: flex;
    justify-content: center;
    @include media("<medium") {
      justify-content: center;
      margin-bottom: 0;
    }
  }

  .message-the-show-toggle-box {
    display: inline-flex;
    .toggle-box__label {
      display: inline-flex;
    }
    > button:focus {
      outline: none;
    }

    > button {
      border: none;
      padding-left: 6px;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      line-height: 14px;

      @include media("<medium") {
        padding-left: 0px;
      }
    }

    .u-icon--xs {
      height: 12px;
      fill: #ffffff;
      margin-left: 4px;
      margin-top: 3px;
    }
  }

  .message-the-show-title {
    font-family: $font-body-bold;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 1.2px;
  }
}

.currently-listening-to {
  padding: 0 24px;
  @include media("<medium") {
    width: 100%;
  }

  .currently-listening-to-label {
    font-family: $font-body-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  .song-metadata {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 2px calc(100% - 30px);
    background-position: 3px bottom;
    padding-bottom: 32px;

    .composer {
      color: #ffffff;
      font-size: 38px;
      font-weight: 900px;
      line-height: 0.95;
      padding-bottom: 16px;
      @include media("<medium") {
        font-size: 28px;
        line-height: 1.18;
      }
    }

    .start-time {
      color: #ffffff;
      text-transform: uppercase;
      opacity: 1.0;
      margin-top: 6px;
    }

    .title {
      color: #ffffff;
      font-size: 18px;
      line-height: normal;
      font-weight: bold;
      margin-top: 0px;
      @include media("<medium") {
        font-size: 14px;
        line-height: 1.71;
      }
    }

    .dot {
      background-color: #ffffff;
      margin-left: -4px;
      margin-right: 20px;
      margin-top: 14px;
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }

    @include toggleBoxCaret(12px, #FFF);
  }

  .song-metadata .u-icon--xs svg path {
    fill: #ffffff;
  }
}

.recently-played {
  background-color: white;
  padding: 24px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  @include media("<medium") {
    width: 100%;
  }

  .recently-played-label {
    font-family: $font-body-bold;
    font-size: 10px;
    letter-spacing: 1px;
    color: $water-blue;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  div:first-child {
    background-size: 2px calc(100% - 24px);
    background-position: 3px bottom;
  }

  div:last-child {
    background-size: 2px 24px;
    background-position: 3px top;
  }

  .song-metadata {
    background-image: linear-gradient($water-blue, $water-blue);
    background-size: 2px 100%;
    background-position: 3px center;
  }

  .view-full-playlist-history-button {
    line-height: 30px;
    width: 219px;
    height: 30px;
    border-radius: 15px;
    background-color: $denim-blue;
    font-family: $font-body-bold;
    font-size: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 16px auto auto;

    &:hover {
      background-color: #003863;
      opacity: 100%;
    }
  }
}

.listen-message-the-show-popup {
  // using negative to correct the padding of parent element, which does not 
  // have a class name specific to the 'Message the Show' popup
  margin: -1px -6px;

  .c-share-tools__group {
    margin-top: 0px;
  }

  .c-share-tools__link {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    &:first-child {
      margin-top: 0px;
    }

    width: 100%;
    height: 100%;

    svg {
      height: 12px;
      path {
        fill: white;
      }
    }

   .c-share-tools__link-title {
      color: #ffffff;
      font-family: $font-body-bold;
      font-size: 12px;
      letter-spacing: 1.2px;
      margin-left: 8px;
      text-transform: uppercase;
    }
  }
}
