
<section class="jukebox-display" aria-label="stream metadata display">
  <JukeboxDisplay @currentStream={{currentStream}} />
</section>

<StreamSwitcher @streams={{streams}} @currentStream={{mut currentStream}} />
