
<section class="jukebox-display" aria-label="stream metadata display">
  <JukeboxDisplay @currentStream={{currentStream.stream}} />
</section>

<StreamSwitcher @streams={{streams}} @currentStream={{mut currentStream.stream}} />

<PlaySchedule @schedule={{streamMetadata.dailySchedule}}/>
