<section class="jukebox-display" aria-label="stream metadata display">
  {{!-- <JukeboxDisplay @currentStream={{model.stream}} /> --}}
  {{!-- <JukeboxDisplay /> just the play button and Listen here --}}
</section>
<div>On Air Now</div>
<div>{{model.stream.currentShow.showTitle}}</div>
{{#if model.stream.previous}}
  <div>Recently Played</div>
  {{#each model.stream.previous as |item|}}
    <div>{{item.catalogEntry.title}}</div>
  {{/each}}
{{/if}}
{{outlet}}
